.ppl {
    margin-right: 1%;
}

.blue {
    border-bottom: 2px solid blue;
}

.red {
    border-bottom: 2px solid red;
}

.green {
    border-bottom: 2px solid green;
}

.yellow {
    border-bottom: 2px solid yellow;
}

@media only screen and (max-width: 768px) {
    .ppl {
        min-width: 33vw;
    }
}