@media screen and (max-width: 1023px) {
    #maptext {
        display: flex;
        flex-direction: column !important;
    }
}

.body-text {
    width: 100%;
    font-size: 1.2vw;
}

#map {
    height: 35vw;
    width: 60vw;
    margin-right: 2%;
}

#maptext {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
}

#text {
    width: 100%;
}

#email {
    color: rgb(255, 255, 255);
}

#email:hover {
    text-decoration: underline;
}