/* here put CSS for smaller screens (mobile) */

@media only screen and (max-width: 768px) {
    html {}
}


/* here put css that only needs to happen on desktop, it's likely there wont be any*/


/* here put css that needs to happen no matter what */

#bg-img {
    background-image: linear-gradient(to bottom, rgba(161, 161, 161, 0.425), rgba(161, 161, 161, 0.425)), url("../images/background-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#page {
    display: flex;
    justify-content: flex-end;
}

body {
    background-color: transparent !important;
}

.sticky {
    position: fixed;
    left: 0;
    width: 12%;
    height: 100%;
    background-color: #2C2F33;
}

#navbar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    font-size: 0.8vw;
    padding-left: 0;
}

.nav-item {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 20%;
    text-decoration: none;
}

.nav-item-link:hover {
    text-decoration: none;
    background-color: tomato;
}

.nav-item-link:hover .nav-item {
    color: white;
    text-decoration: none;
}

.nav-item-link {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

#logo-img img {
    max-height: 160px;
    max-width: 100%;
    object-fit: contain;
    margin-left: 5%;
}

#logo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}