/* here put CSS for smaller screens (mobile) */


/* here put css that only needs to happen on desktop, it's likely there wont be any*/


/* here put css that needs to happen no matter what */

#bg-img {
    background-image: url("../images/background-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#page {
    display: flex;
    justify-content: space-between;
}

body {
    background-color: transparent !important;
}

.sticky {
    position: fixed;
    left: 0;
    width: 12%;
    height: 100%;
    background-color: #2C2F33;
    padding-right: 1%;
}

#navbar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    font-size: 1vw;
}

.nav-item {
    margin-top: 15px;
    margin-bottom: 15px;
}

.nav-item:hover {
    color: tomato;
    text-decoration: none;
}

.nav-item-link {
    color: white;
}

.nav-item-link:hover {
    color: inherit;
    text-decoration: inherit;
}

#logo-img img {
    max-height: 900%;
    max-width: 100%;
    object-fit: contain;
    margin-left: 5%;
}

#logo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}