/* here put CSS for smaller screens (mobile) */

@media only screen and (max-width: 768px) {
    html {}
}


/* here put css that only needs to happen on desktop, it's likely there wont be any*/


/* here put css that needs to happen no matter what */

#bg-img {
    background-image: linear-gradient(to bottom, rgba(161, 161, 161, 0.425), rgba(161, 161, 161, 0.425)), url("../images/background-1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#page {
    display: flex;
    justify-content: center;
}

body {
    background-color: transparent !important;
}

.sticky {
    position: fixed;
    left: 0;
    width: 12%;
    height: 100%;
    background-color: #2C2F33;
}

#navbar {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    font-size: 0.8vw;
    padding-left: 0;
}

.nav-item {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 20%;
    text-decoration: none;
}

.nav-item-link:hover {
    text-decoration: none;
    background-color: tomato;
    border: 1px;
}

.nav-item-link:hover .nav-item {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.nav-item-link .nav-item {
    transition: 0.3s;
}

.nav-item-link {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

#logo-img img {
    max-height: 160px;
    max-width: 100%;
    object-fit: contain;
    margin-left: 5%;
}

#logo-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#header {
    background-color: transparent;
    border: 10%;
    font-size: 4vw;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 30px;
    color: rgb(255, 213, 213);
}

#content {
    display: flex;
    color: white;
    flex-direction: column;
    width: 80%;
    margin-left: 13%;
    align-self: left;
}

.body-header {
    font-size: 2vw;
    color: rgb(255, 213, 213);
}

.body-text {
    width: 100%;
    font-size: 1.2vw;
}